* {
    /*box-sizing: content-box;*/
}

body {
    padding: 0px;
    margin: 0px;
}
.home_search_bar{
    height: 50px;
    outline: none;
    font-size: 14px;
}

.image_slider {
    /*background-color: red;*/
    height: 430px;
    background-image: url("../images/slider_img_1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 10px 1px;*/
}
.top_line{
    background-color: #dcdcdc;
}
.profile_img{
    background-image: url("../images/Profile_IMG_EX.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10px 0px;
}
.product_icon_outer_div{
    width: 50%;
    white-space: nowrap;
    /*margin-left:;*/
    overflow-x: scroll;
    scrollbar-width: none;
    transition: 10s;
    scroll-behavior: smooth;
}
.product_icon{
    text-align: center;
    color: white;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 25px;
    display: inline-block ;
}
.product_icon_outer_div::-webkit-scrollbar {
    display: none;
}
.scroll_button{
    cursor: default;
    font-size: 28px;
    font-family: Quicksand;
}